.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logging
*.log*

# Keys & Certificates
*.pem

# The admin password
password

# server/
curlRequests
server/client/
static/
server/src/enums/
server/src/data

#client
client/src/data/json/
client/src/enums/DataStoreEnum.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
tags
