.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logging
*.log*

# Keys & Certificates
*.pem

# The admin and mailer password
password

# server
server/curlRequests
server/client/
server/static/
server/src/data/json/core

#client
client/src/data/json/core

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
tags
Session.vim
