/* Colors */
$color-base: rgb(27, 63, 27);
$color-invert: rgba(246, 250, 255, 0.6);

/* Layout Shapes */
$header-height: 50px;
$footer-height: 50px;
$mainMenu-height: 35px;
$layout-element-layer: 10;
$icon-radius: calc(#{$header-height} * 2);
$languageSelector-height-desktop: calc(#{$footer-height} * 0.8);
$languageSelector-height-mobile: calc(100vh * 0.07);

/* Transistions */
$transition: all .5s;

hr{
  display: block;
  color:white;
}

/* Classes */
.ghost-button {
  // Use important, cause it is also used for overwriting.
  border: 0!important;
  padding: 0!important;
  background-color: transparent!important;
}

.test {
  background-color: red
}
