/* Colors */
$color-base: rgb(27, 63, 27);
$color-invert: rgba(169, 164, 164, 0.32);

/* Layout Shapes */
$header-height: 50px;
$footer-height: 50px;
$layout-element-layer: 10;
$icon-radius: calc(#{$header-height} * 2);
$languageSelector-height-desktop: calc(#{$footer-height} * 0.8);
$languageSelector-height-mobile: calc(100vh * 0.07);


/* Classes */
.ghost-button {
  // Use important, cause it is also used for overwriting.
  border: 0!important;
  padding: 0!important;
  background-color: transparent!important;
}
