/* Colors */
$color-base: rgb(27, 63, 27);
$color-invert: rgba(246, 250, 255, 0.7);

/* Layout Shapes */
$header-height: 50px;
$footer-height: 50px;
$mainMenu-height: 35px;
$icon-radius: calc(#{$header-height} * 2);

/* Index */
$layout-element-layer: 10;
$overlay-index: calc(#{$layout-element-layer} + 1);
$menu-index: calc(#{$overlay-index} + 1);

/* Transistions */
$transition: all .5s;

/* Other */
$border-radius: 10px;

@import '../../node_modules/include-media/dist/include-media';
/* Bulma */
// Import the variables first.
@import '../../node_modules/bulma/sass/utilities/initial-variables';

// Overwrite Bulma variables.
// Colors
$primary: $color-base;
$primary-invert: $color-invert;
$link: lighten($primary, 10%);

// Table

$table-background-color: rgba(black, .8);
$table-head-cell-color: $white!important;

$table-color: $white;
$table-cell-heading-color: $white!important;
$table-row-hover-background-color:rgba(green, .8)!important;

// Modal
$modal-z: calc(#{$menu-index} + 1);
$modal-content-width: 400px;
$modal-card-spacing: 40px;
$modal-card-head-radius: $border-radius;
$modal-card-foot-radius: $border-radius;

// Import Bulma classes afterwards.
@import '../../node_modules/bulma/bulma';


body{
  @include media('<desktop'){
    font-size: 35px;
  }
  @include media('>=desktop'){
    font-size: 15px;
  }
}

hr {
  display: block;
  color:white;
}

p {
  white-space: pre-line;
}

/* Classes */
.ghost-button {
  // Use important, cause it is also used for overwriting.
  border: 0!important;
  padding: 0!important;
  background-color: transparent!important;
}

@mixin scroll {
  $width: 8px;
  $radius: calc(#{$width} / 2);

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    border-radius: $radius;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background: lighten($color-base, 10%);
  }
}

@function decentShadow($color) {
  @return 0 0 1px $color, 0 0 1px $color, 0 0 1px $color, 0 0 1px $color
}

@function intenseShadow($color) {
  @return 0 0 2px $color, 0 0 2px $color, 0 0 2px $color, 0 0 2px $color, 0 0 2px $color
}


.modal {
  .modal-card-head, .modal-card-foot {
    text-align: center;
  }

  .modal-card-foot {
    button {
      width: 150px; // To avoid resizing when loading.
      margin: auto; // Centralize the button or equal divide the space.
    }
  }

  .modal-card-body {
    display: flex;
    flex-flow: column;
    align-items: center;

    p {
      text-align: center;
      margin-bottom: 20px; // Between this text and the input element.

      &.error-message {
        color: red!important;
      }
    }
  }
}

.editable {
  .editable-element {
    cursor: pointer!important;
  }
}
