// 3rd party styles.
@import '../../node_modules/include-media/dist/include-media';

.subpage {
  min-width: 100%; // Take the whole content window width.
  max-width: 100%; // Fix the width.
  min-height: 100%;
  overflow-y: hidden; // Horizontally not scrollable.
  overflow-x: auto;

  @include media('>=desktop') {
    padding: 60px 5% 0;
  }

  @include media('<desktop') {
    padding: 10px 5% 0;
  }
}
