// 3rd party styles.
@import '../../node_modules/include-media/dist/include-media';

.subpage {
  min-width: 100%; // Take the whole content window width.
  max-width: 100%; // Fix the width.
  min-height: 100%;
  overflow-y: hidden; // Horizontally not scrollable.
  overflow-x: auto;

  @include media('>=desktop'){
    padding-left: 100px;
  }

  @include media('<desktop') {
    padding: 10px 5% 0;
  }


  .switch-effect {
    $time: .5s;
    $ease: ease-out;

    &.left {
      left: 0; // Neutral position.
      transition: left $ease $time;

      // Hide the object on the left side.
      &.inactive {
        left: -10vw!important;
      }
    }

    &.right {
      left: 0; // Neutral position.
      transition: right $ease $time;

      // Hide the object on the right side.
      &.inactive {
        left: -10vw!important;
      }
    }
  }
}
