// 3rd party styles.
@import '../../node_modules/include-media/dist/include-media';
@import './3v-forhair';

.subpage {

  display:flex;
  min-width: 100%; // Take the whole content window width.
  max-width: 100%; // Fix the width.
  min-height: 100%;
  overflow-y: hidden; // Horizontally not scrollable.
  overflow-x: auto;

  $border-radius: 10px;
  img{
    border-radius: $border-radius;
  }

  h1, h2{
    text-align: center;
    margin-bottom: 40px;
  }
  h1{
    font-size: 2em;
  }

  h2{
    font-size: 1.2em;
  }

  h1, h2, h3, h4, h5, h6{
    color:white;
    line-height: 1;
    $shadowColor:black;
    text-shadow:
      0 0 2px $shadowColor,
      0 0 2px $shadowColor,
      0 0 2px $shadowColor,
      0 0 2px $shadowColor,
      0 0 2px $shadowColor,
      0 0 2px $shadowColor
  }

  @include media('>=desktop'){
    padding: 90px 5% 0;
  }

  @include media('<desktop') {
    padding: 60px 5% 0;
  }

  .content-box{
    background-color: $color-invert;
    border-radius: $border-radius;
    padding: 10px;
    color: black;
    border: solid 1px rgba(255,255,255,.8);

    @include media('<desktop') {
      width: 90%!important;
      margin: 10px auto!important;
    }

  }


  .switch-effect {
    $time: .5s;
    $ease: ease-out;

    &.left {
      left: 0; // Neutral position.
      transition: left $ease $time;

      // Hide the object on the left side.
      &.inactive {
        left: -10vw!important;
      }
    }

    &.right {
      left: 0; // Neutral position.
      transition: right $ease $time;

      // Hide the object on the right side.
      &.inactive {
        left: -10vw!important;
      }
    }
  }
}
